APP_NAME=BlueHR Production
APP_URL=http://localhost/bluehr-production
APP_ENV=production
APP_DEBUG=false
APP_KEY=change_this_32_chars_minimum_secret
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bluehr
DB_USERNAME=root
DB_PASSWORD=
MAIL_FROM=no-reply@example.com
ACCURATE_AUTH_URL=https://account.accurate.id/oauth/authorize
ACCURATE_TOKEN_URL=https://account.accurate.id/oauth/token
ACCURATE_DEFAULT_SCOPE=journal_voucher_view journal_voucher_save account_view
ACCURATE_RATE_LIMIT_PER_SECOND=6
